/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #e9f7f5;
    padding: 20px;
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 800px;
    margin: 0 auto;
    gap: 20px;
}

.forecast-day {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    width: calc(33% - 14px);
    box-sizing: border-box;
}

    .forecast-day img {
        max-width: 100px;
        display: block;
        margin: 10px auto;
    }

h1, h2 {
    text-align: center;
}