@{
    Layout = null;
}

@model PersonModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
    <link rel="stylesheet" href="~/css/person-styles.css">
</head>
<body>

    @if (ViewBag.Message != null)
    {
        <h3>@ViewBag.Message</h3>
    }

    <div class="register-container">
        <h2>Register</h2>
        <form asp-controller="Person" asp-action="SavePerson">
            <label> Name:</label>
            <input asp-for=Name type="text">
            <span class="text-danger" asp-validation-for="Name"></span>

            <label> Surname:</label>
            <input asp-for=Surname type="text">
            <span class="text-danger" asp-validation-for="Surname"></span>

            <label for="birthdate">Birthdate:</label>
            <input asp-for=BirthDate>
            <span class="text-danger" asp-validation-for="BirthDate"></span>

            <label> Email:</label>
            <input asp-for=Email type="text">
            <span class="text-danger" asp-validation-for="Email"></span>


            <label> Password:</label>
            <input asp-for=Password type="text">
            <span class="text-danger" asp-validation-for="Password"></span>

            <label> Rating:</label>
            <input asp-for=Rating type="text">
            <span class="text-danger" asp-validation-for="Rating"></span>

            <input type="submit" value="Register">
        </form>
    </div>

    @*if layout is used no need for next 3 line*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <partial name="_ValidationScriptsPartial"></partial>
</body>
</html>
